<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Flask!</title>
</head>

<body>
    <div style="display:flex; gap:5px; justify-content: space-around; flex-wrap: wrap;">
        {% for x in range(0, repeat): %}
        <div style="border-radius:10px; border:5px solid black; background-color:{{color}}; height:10em; width:10em">
            
        </div>
        {% endfor %}
    </div>
    
</body>

</html>