<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous" />
    <title>Create</title>
</head>
<body class="container">
    <h1>Add User Form:</h1>
    <div class="row">
    <form class= "col-10" action="/add_user" method="POST">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name">
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name">
        <label for="email">Email:</label>
        <input type="text" name="email">
        <input type="submit" value="Add User">
    </form>
</div>
    <div>
        <a class="btn btn-primary col-2" href="../read">Home</a>
    </div>

</body>
</html>