<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read (ALL)</title>
</head>
<body>
    {% for user in users %}
    <p>First Name: {{user.first_name}}</p>
    <p>Last Name: {{user.last_name}}</p>
    <p>Email: {{user.email}}</p>
    <p>Created At/Last Updated: {{user.created_at}} / {{user.updated_at}} </p>
    {% endfor %}
</body>
</html>